body{
    background-image: url('/static/dish9.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.card{
    opacity: 0.96;
}
.wrapper{
    float:right;
    text-align:center;
    margin-top:15%;
}
.landing_upper_text{
    font-size:200%;
    margin-bottom:3%;
}
.landingpage_button{
    border: 3px solid rgb(54, 17, 17);

}
.landingpage_button:hover{
    background-color: rgb(255, 8, 8);
    color:white;
}
.bottom_text{
    margin-top:3%;
    text-shadow: 1px 1px 27px 9px #fffefe;
    font-size:160%;
}
.jumbotron{
    z-index:1;
    opacity: 0.96;  
}
.btn-secondary{
    outline-width: 3px;
    outline-color: rgb(255, 255, 255);
    box-shadow: -1px 1px 3px 2px rgb(53, 52, 52);
    background-color: rgb(54, 17, 17);  
}
.btn-secondary:hover{
    background-color:rgb(121, 56, 56);
}
.btn-primary{
   border-color: rgb(176, 187, 174);
   box-shadow: -1px 1px 3px 2px rgb(53, 52, 52);
   background-color:rgb(71, 19, 19);
   min-width:65vw
}
.btn-primary:hover{
    background-color:rgb(121, 56, 56);
    outline-color:rgb(170, 167, 179);
}
.navbar {
    opacity: 0.97;
    background-color:rgb(54, 17, 17);
    outline-width: 5px;
    outline-color: rgb(0, 0, 0);
    box-shadow: inset -1px -1px 7px 0px rgba(255,255,255,1); 
}
.navbar-nav{
    margin-left:5%;   
}
.navbar-brand{
    color:white;
    font-size:25px;   
}
.navbar-brand:hover{
    color:rgb(226, 226, 226);
}
.nav-item{
    color:white;
    font-size:15px;  
}
.nav-item:hover{
    color:rgb(189, 185, 185);
}
.delete{
    background-color: rgb(218, 22, 22);
    color:white;
}
.updt{
   background-color: rgb(81, 77, 97);
   color:white;
}
.back{
   background-color: rgb(54, 17, 17);
   color:white;
}