{% extends 'base.html' %}
{% block content %}

<div class='jumbotron'>
	<h1>Home page</h1>
	<div class="landing_upper_text">
		<em>Ready to cook?</em>
	</div>
	<div class="landing_center_text">
		<a href="{{url_for('find')}}" class="btn btn-lg active landingpage_button" role="button" aria-pressed="true">Discover...</a>
		<p class="bottom_text" >
			<em>Amazing recipes inside !</em>
		</p>
		<p class="bottom_text" >
			<em>Share  your favourite recipes!</em>
		</p>
	</div>
<div class="footer col-lg-12">
<div class="row">
	<p class="col-md-6 col-sm-12">email: amazingsharedrecipes2019.gmail.com</p>
	<p class="col-md-6 col-sm-12">
		<i class="fa fa-phone" ></i> 0788009445
	</p>
   </div>
  </div>
</div>
    {% endblock %}