{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
        
<h1>{{name}}</h1>
     
      
        <form method="POST"  >
                <div class="form-group col-lg-6">
                   <label for="formGroupExampleInput">Update the recipe to:</label>
                   <input type="text" name="urecipe" class="form-control" id="formGroupExampleInput" placeholder="{{name}}">
                   <br>
                   <label for="formGroupExampleInput">Update Suitable For to:</label>
                   <input type="text" name="usuitablefor" class="form-control" id="formGroupExampleInput" placeholder="{{user.find_one({'Recipe_name':name }).Details.Suitable_for}}">
                    <br>
                    <label for="formGroupExampleInput">Update Serves As to:</label>
                    <input type="text" name="uservesas" class="form-control" id="formGroupExampleInput" placeholder="{{user.find_one({'Recipe_name':name }).Details.Serves_as}}">
                     <br>
                   <label for="formGroupExampleInput">Update ingredients:</label>
                   <input type="text" name="uingr" class="form-control" id="formGroupExampleInput" placeholder="{{user.find_one({'Recipe_name':name }).Ingredients[0]}}">
                   <br>
                   <input type="submit">

        </form>
</div>


    {% endblock %}